body, html {
    height: 100%;
  }
  
  .bgfoot {
    background-color: white;
  }

  .copy{
    font-family: 'Work Sans', sans-serif;
    font-size: 1.3em;
    text-align: left;
    color: black;
  }

  .btn-footer{
    font-family: 'Work Sans', sans-serif;
    font-size: 1.3em;
    text-align: center;
    color: black;
    background-color:#F7F7F7;
    border-radius: 30px;

  }